<div class="container w-screen max-w-full">
	<div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6">
		<div class="w-full h-full rounded">

			<div
				class="flex flex-row-reverse px-4 py-3 bg-gray-50 text-right sm:px-6"
			>
				{{!-- <a
					href="/patients/addnewpatient"
					class="inline-flex justify-center py-2 px-4 m-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
				>Thêm bệnh nhân</a> --}}
				<form action="/patients" method="get">
					<div class="flex items-center justify-center">
						<div class="flex border-2 m-2 rounded-md">
							<input
								type="text"
								name="name"
								id="searchname"
								class="px-4 py-2 w-80 text-sm font-medium"
								placeholder="Tìm kiếm bệnh nhân"
							/>
							<button
								type="submit"
								class="flex items-center justify-center px-4 border-l"
							>
								<svg
									class="w-4 h-4 text-gray-600"
									fill="currentColor"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 24 24"
								>
									<path
										d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
									></path>
								</svg>
							</button>
						</div>
					</div>
				</form>

			</div>

			<!-- ___________________________TABLE____________________________ -->

			<div class="flex flex-col">
				<div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
					<div
						class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8"
					>
						<div
							class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
						>
							<table class="min-w-full divide-y divide-gray-200">
								<thead class="bg-gray-50">
									<tr>
										<th
											scope="col"
											class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
										>
											Họ tên
										</th>
										<th
											scope="col"
											class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
										>
											Thời điểm tiếp xúc
										</th>
										<th
											scope="col"
											class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
										>
											Trạng thái
										</th>
										<th
											scope="col"
											class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
										>
											Số điện thoại
										</th>
										<th scope="col" class="relative px-6 py-3">
											<span class="sr-only">Kh</span>
										</th>
									</tr>
								</thead>
								<tbody class="bg-white divide-y divide-gray-200">
									{{#each patients}}
										<tr>
											<td class="px-6 py-4 whitespace-nowrap">
												<div class="flex items-center">
													<div>
														<div class="text-sm font-medium text-gray-900">
															{{patientname}}
														</div>
														<div class="text-sm text-gray-500">
															CCCD:
															{{patientidnumber}}
														</div>
													</div>
												</div>
											</td>
											<td class="px-6 py-4 whitespace-nowrap">
												<div class="text-sm text-gray-900">
													{{contact_time}}</div>
												{{!-- <div class="text-sm text-gray-500">Địa chỉ: {{areaaddress}}</div> --}}
											</td>
											<td
												class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
											>
												{{status}}
											</td>
											<td class="px-6 py-4 whitespace-nowrap">
												<span
													class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
												>
													{{patientphone}}
												</span>
											</td>
											<td
												class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
											>
												<a
													href="../../patients/{{patientid}}"
													class="text-indigo-600 hover:text-indigo-900"
												>Edit</a>
											</td>
										</tr>
									{{/each}}
									<!-- More people... -->
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- ___________________________TABLE ENDS____________________________ -->
		</div>
	</div>
</div>